@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@300&display=swap');

.mainHeaderText {
  font-family: Hubballi, serif;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #edebfa;
}

.subMainHeaderText {
  margin-left: 0;
  padding: 15px;
  color: #edebfa;
  background-color: #4c3ee1;
}

.mainEstimateGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.estimateDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px 5px;
}

.imageLogoContainer {
  margin: 10px auto 20px;
  height: 50%;
  width: 40%;
}

.logoImage {
  width: 100%;
  height: 100%;
}

.carModelDescriptionContainer {
  width: 90%;
}

.carModelDescriptionText {
  font-family: Montserrat, serif;
  font-size: 30px;
  margin: 10px;
  text-align: right;
}

.sizeOfNumberText {
  font-size: 20px;
}
