.estimateDiv {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  border-radius: 10px;
  padding: 25px 5px;
  cursor: pointer;
}

.button-container {
  background: none;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(124, 158, 226);
}

.differentColour {
  background-color: rgb(115, 139, 185);
}

.imageLogoContainer {
  margin: 10px auto 20px;
  height: 40%;
  width: 30%;
}

.logoImage {
  width: 100%;
}

.carModelDescriptionContainer {
  width: 90%;
}

.carModelDescriptionText {
  font-family: Montserrat, serif;
  font-size: 20px;
  margin: 10px;
  text-align: right;
}

.sizeOfNumberText {
  font-size: 20px;
}
