.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Hubballi, serif;
  font-size: 30px;
}

.returnImageLogo {
  width: 35px;
  height: 80%;
}

.headerLogoImage {
  margin: 10px;
  width: 80%;
  height: 80%;
}

.subHeaderText {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
  margin-left: 0;
  padding: 15px;
  color: #edebfa;
  background-color: #4c3ee1;
}

.modelMakeDetailsContainer {
  display: grid;
  grid-template-columns: 1fr;
}
